.header {
    padding: 0px;
    text-align: center;
    background: #ffffff;
    font-size: 40px;
    color: #ff512a;
  }

/* Controls the header line */
hr {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 1px;
    font-family: Garamond,serif;
  }


/* The sidebar menu */
 .sidenav {
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 160px; /* Set the width of the sidebar */
      position: relative; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      background-color: #ffffff; /* Red */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 50px;
      font-family: Garamond,serif;
      padding-left: 50px
    }
    
/* The navigation menu links */
.sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #ff512a;
      display: block;
      border: 1px solid black;
    }
    
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
      color: #f1f1f1;
    }
    
/* Style page content */
.main {
      margin-left: 280px; /* Same as the width of the sidebar */
      margin-top: -210px;
      /* margin-right: 280px; */
      padding-top: 50px;
      font-size: 20px;
      font-family: Garamond,serif;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    } 
    

iframe {

      /* margin-left: 280px;
      margin-top: -180px;
      width: 550px;
      height: 550px; */
      border: none;

    }

.box{
        float:left;
        margin-right:20px;
    }
.clear{
        clear:both;
    }
    